.smallrow {
  width: 360px;
  background-color: #000000;
  max-width: $row-max-width + 40px;
  min-width: $min-device-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.smallrow2 {
  width: 300px;
  background-color: #fff;
  max-width: $row-max-width + 40px;
  min-width: $min-device-width;
  margin: 0 auto;
  .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}